<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494576997890-mmibr2f4u8vkiog7apdr8oaervgr0odd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494576997890-mmibr2f4u8vkiog7apdr8oaervgr0odd</string>
	<key>API_KEY</key>
	<string>AIzaSyDFj-a1I437JB4oagJfVMvnD41QZzWqGPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>494576997890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audioVideoCallFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-video-audio-chat-3d937</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-video-audio-chat-3d937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494576997890:ios:f6df49f37b4074140af91b</string>
</dict>
</plist>